*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #f0f0f0;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*log-in btn*/

#sign-in-btn-info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;

}
#text-info {
    margin-right: 1em;
    font-size: 12px;
}



/* Page header and logo formatting */

.header {
    width: 380px;
    margin: auto;

}

.header-links {
   width: 380px;
   text-align: center;
   margin-bottom: 1em;
}
#link-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 1em;
}

#link-imgs a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#login-container {
    margin: auto;
    width: 380px;
    padding: 30px;
    background-color:white;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 2px;
}

.form-header {
    text-align: center;
    padding-bottom: 2em;
}

.form-header > h1 {
    font-size: 24px;
    font-weight: 400;
    color: #4c4c4c;
    margin-bottom: 1em;
}

.form-header > p {
    font-size: 14px;
    color: #4c4c4c;
}

.form-header a {
    font-size: .85em;
}

/* Format for input controls */

input {
    border: thin solid #e0e0e0;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 3px 7px;
    margin-bottom: 1.5em;
    width: 100%;
}

/* Format for labels */

label {
    display: block;
    font-size: 14px;
    color: #4c4c4c;
    margin-bottom: 7px;
}

.phone-comments {
    font-size: .6em;
    margin-top: -2.5em;
    margin-bottom: 2.5em;
    color: #4c4c4c;
}

/*format for button*/

#submit-btn, #sign-in-btn{
    width: 100%;
    background: linear-gradient(to bottom,#167CCC 0,#0077C5 100%);
    color: white;
    font-weight: 400;
    padding: 13px ;
    border-radius: 4px;
    border-width: 0;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.582);
}
#sign-in-btn {
    width: 102px;
    border: thin solid black;
    margin-right: 2em;
    height: 30px;
    font-size: .8em;
    padding-top: 7px;
}

.privacy-notice {
    font-style: italic;
    color: #4c4c4cc7;
    font-size: .8em;
    text-align: center;
    margin: 2em auto;
}

#captcha {
    background-color: #eeeeee;
    color: #4c4c4cc7;
    padding:2em;
    text-align: center;
    font-size: 10px;
    margin: 0px -30px -30px -30px;
}

/*footer formating*/

footer {
    text-align: center;
    color: #4c4c4cc7;
    margin-top: 2em;
    font-size: 10px;
}

/* 750px */

#alt-login-question {
    display: none;
}

@media screen and (max-width: 750px) {
    #sign-in-btn-info {
        display: none;
    }

    #alt-login-question {
        display: inherit;
    }

}

.product-name {
  font-weight: lighter;
  font-size: 18px;
  margin: auto 8px;
  color: gray;
}

  heighth       height
